@import 'variables';

.categories {
  //flex: 1;
  max-width: 100%;
  overflow: auto;
  //margin-bottom: 60px;

  ul {
    @media (max-width: 767px) {
      display: flex;
    }

    li {
      display: inline-block;
      background-color: #f9f9f9;
      margin: 10px;
      padding: 13px 30px;
      border-radius: 30px;
      margin-right: 10px;
      font-weight: bold;
      cursor: pointer;
      transition: background-color 0.1s ease-in-out;
      @include noselect();
      @media (max-width: 767px) {
        margin: 5px;
        padding: 10px 20px;
        font-size: 14px;
      }

      &:hover {
        background-color: darken(#f9f9f9, 2%);
      }

      &:active {
        background-color: darken(#f9f9f9, 5%);
      }

      &.active {
        background-color: #282828;
        color: #fff;
      }
    }
  }
}